{% extends "bootstrap/base.html" %}

{% block title %}
    {% if user == None %}
        MXT BBS
    {% else %}
        {{user.username}} 已登录
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#example-navbar-collapse">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">MXT BBS</a>
    </div>

    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <!--如果未登录, 显示登录\注册按钮-->
            {% if user == None %}
                <li class="active"><a href={{url_for("user.signin")}}>登录</a></li>
                <li class="active"><a href={{url_for("user.signup")}}>注册</a></li>
            {% else %}
                <li class="active"><a href='/user/{{user.username}}'>{{user.username}}</a></li>
                <li class="active"><a href={{url_for("user.signout")}}>退出</a></li>
            {% endif %}
        </ul>
    </div>
    </div>
    </nav>
{% endblock %}

{% block content %}
<script src="/static/js/utils.js"></script>

    <div class="container">
        <div class="row">
            <div class="col-sm-8  bg-success">
                {% block page_content %} {% endblock %}
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                {% block sidebar %} {% endblock %}
            </div>
        </div>

    </div>

    <!-- 自定义两个块-->
    {% block page_content1 %} {% endblock %}
    {% block footer %} {% endblock %}
{% endblock %}

{% block scripts %}
    <script src="/static/js/jquery-3.3.1.min.js"></script>

{% endblock %}



