{% extends "base.html" %}

{% block page_content %}
<br>
<a href="/0" class="btn btn-info btn-lg active" role="button">全部</a>
{% for b in boards %}
    <a href="/{{ b.id }}" class="btn btn-success btn-lg active" role="button">{{ b.title }}</a>
{% endfor %}
<a href="{{url_for('topic.new')}}" class="btn btn-info btn-lg active pull-right" role="button">新增话题</a>

<hr>
<table class="table table-hover table-responsive col-md-8 topic-table">
    <thead class="text-left">
    <th class="active col-md-1">No.</th>
    <th class="active col-md-2">标题</th>
    <th class="active col-md-1">创建时间</th>
    <th class="active col-md-1">回复/浏览</th>
    <th class="active col-md-1">发帖人</th>
    <th class="active col-md-1">删除</th>
    </thead>
    <tbody>
    {% if boards != None %}
    {% for t in ts %}
    <tr data-id="{{t.id}}">

        <td>{{ loop.index }}</td>
        <td><a href="/topic/{{ t.id }}">{{ t.title }}</a></td>
        <td>
            <script>
            var ct = timeString({{t.ct}})
            document.write(ct)
            </script>
        </td>
        <td>
            <p>t.data_count(Reply) }}</p>
            /
            {{ t.views }}
        </td>
        <td>
            <a href="/user/{{ t.user().username }}">
                {{ t.user().username }}
            </a>
        </td>
        <td>
            <button type="button" class="btn btn-danger delete-btn" onclick="bindEventBoardDelete()">删除</button>
        </td>
    </tr>
    {% endfor %}

    {% else %}
    <p  style="text-align: center;">话题为空</p>
    {% endif %}

    </tbody>
</table>

{% endblock %}


{% block sidebar %}

<br><br>
<h4 class="head">项目说明</h4>
<hr>
<ol class="inner">
    <li>以cnodejs.org为蓝图，开发了属于自己的一个社区</li>
    <li>用户可以登录/注册, 发帖/看帖/删除自己的发帖/发表评论/修改个人信息</li>
    <li>后端用Flask框架，前端使用Flask-Bootstrap集成Bootstrap框架，数据库使用MongoDB。</li>
    <li>服务器部署使用了：Nginx + Gunicorn + Supervisor</li>
</ol>

{% endblock %}

